@import url(../style.css?aea6f0a);
.children:hover rect.parent {opacity: 0;}
.children rect.parent, .grandparent rect {cursor: pointer;}
.children:hover rect.child {opacity: 1; stroke-width: 1px;}
.legend rect {stroke-width: 0px;}
.grandparent text {font-weight: bold;}
.grandparent:hover rect {fill: #5A5050;}
.children rect.child {opacity: 0;}
.children rect.parent {}
.legend text {text-anchor: middle; pointer-events: auto; font-size: 15px; font-family: 'Open Sans Condensed', Helvetica, sans-serif; fill: #5A5050;}
#chart {width: 960px; height: 500px;}
text {pointer-events: none;}
rect {stroke: #fff; stroke-width: 5px;}
rect.parent, .grandparent rect {stroke-width: 2px;}
p {color:#5A5050; font-family: 'Open Sans Condensed', Helvetica, sans-serif; font-size: 90%; margin-top:0em}
sub {color:#5A5050; font-family: 'Open Sans Condensed', Helvetica, sans-serif}
h1 {color:#5A5050; font-family: 'Open Sans Condensed', Helvetica, sans-serif; font-size: 120%; margin-bottom:0em}
h2 {color:#5A5050; font-family: 'Open Sans Condensed', Helvetica, sans-serif; font-size: 100%; margin-bottom:0em}
.dropbtn {
    background-color: #5A5050;
    color: white;
    padding: 8px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #5A5050;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 8px 8px;
    font-size: 12px;
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #5A5050}
.show {display:block;}