@import url(../style.css?aea6f0a);

body {color:#5A5050; font-family: 'Open Sans Condensed', Helvetica, sans-serif; font-size: 13px; font-weight: bold; background: #F0F0F0; max-width:600px;}
svg  {padding: 0px 0 0 0px;}
.arc {stroke: #fff;}